

#teams h1{
  color: black;
  font-size: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
 
}
#teams h2{
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}
#teams h2 span{
  font-weight: 500;
}

#teams .wrapper .card-items{
  display: flex;
  margin-top: -50px;
  justify-content: space-evenly;
  overflow: hidden;
}
#teams .wrapper .card{
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 280px;
  z-index: 1;
  transition: all 0.5s ease;
}
#teams .wrapper .card:hover{
  background: #08415C;
  transform: scale(1.05);
  cursor: pointer;
}
#teams .wrapper .card .card-header{
  display: inline-block;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin: 30px auto;
  transform: translateY(40px);
}
#teams .wrapper .card .card-header img{
  width: 100%;
  height: auto;
}
#teams .wrapper .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 200px;
}
#teams .wrapper .card h3{
  font-size: 16px;
  color: #95A2BB;
  padding-top: 30px;
}
#teams .wrapper .card .card-body h4{
  font-size: 14px;
  font-weight: 600;
  color: #08415C;
  margin-top: 0px;
}
#teams .wrapper .card .card-body ul{
  display: flex;
  list-style: none;
  padding-top: 50px;
}
#teams .wrapper .card .card-body ul li i{
  padding: 5px;
  margin: 0 7px;
  border: 1px solid #95A2BB;
  border-radius: 50%;
  background: #0A2940;
  color: yellow;
  transition: all 0.3s ease;
}
#teams .wrapper .card .card-body ul li i:hover{
  background: #289fe4;
  color: #0A2940;
}
.text-secondary{
  color: yellow;
}
.text-center{
  text-align: center;
}